/* version mobile*/

@media screen and (max-width: 426px) {

	:root {
		font-size: 15px;
	}

/* Initialisation du style*/

 
/* Header du site*/

.logo
{
	text-align: center;
}

.logomenu
{
	text-align: center;
}

.arrow
{
	padding-left: 1rem;
	float:left;
  	position: relative;
  	top:1rem;
}

.heartmenu
{
	padding-right: 1rem ;
	float:right;
  	position: relative;
	bottom: 1.5rem;
}

.search
{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 0.5rem;
	background-color: #e5e5e5;
}

.header
{
	text-align: center;
	padding-top: 2rem;
}

.headermenu
{
	width: 100%;
}

.explorer
{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.title
{
	padding-left: 1rem;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
}

.choice
{
	display: block;
	justify-content: column;
	text-align: center;
	list-style-type: none;
}

.choicemenu
{
	display: block;
	position: relative;
	padding: 1rem;
	border-radius: 2.5rem 2.5rem 0rem 0rem;
	margin-top: -2rem;
	background-color: aqua;
}

.article
{
	padding-bottom: 4rem;
}

.titlemenu
{
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.blockarticle
{
	margin: 0rem 1rem 1rem 1rem;
	border-radius: 1.3rem;
	color: black;
	background-color: white;
	box-shadow: 0rem 0.3rem 0.6rem #9c9c9c;
}

.picture
{
	object-fit: cover;
	display: block;
	border-radius: 1.33rem 1.33rem 0rem 0rem;
	max-width: 100%;
	max-height: 100%;
}

.love
{
	padding-left: 25rem;
}

.buttonmenu
{
	display: block;
	margin: 2rem auto;
	height: 2.5rem;
    width: 10rem;
	border-radius: 1.5rem ;
	border: none;
	color: white;
}

/* Footer du site*/
.footer
{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footertitle
{
	padding-left: 2.5rem;
}

.footerul
{
	list-style-type: none;
}

.knife
{
	padding-right: 1rem;
}

.hands
{
	padding-right: 0.5rem;
}

}