/* version mobile*/

@media screen and (max-width: 426px) {

	:root {
		font-size: 15px;
	}

/* Initialisation du style*/

 
/* Header du site*/

.logo
{
	text-align: center;
}

.search
{
	display: flex;
	justify-content: center;
	width: 100%;
}

.header
{
	text-align: center;
	padding-top: 2rem;
}

.explorer
{
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.title
{
	padding-left: 1rem;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
}

.choice
{
	display: block;
	justify-content: column;
	text-align: center;
	list-style-type: none;
	
}

.article
{
	padding-bottom: 4rem;
}

.blockarticle
{
	margin: 0rem 1rem 1rem 1rem;
	border-radius: 1.3rem;
	color: black;
	background-color: white;
	box-shadow: 0rem 0.3rem 0.6rem #9c9c9c;
}

.picture
{
	object-fit: cover;
	display: block;
	border-radius: 1.33rem 1.33rem 0rem 0rem;
	max-width: 100%;
	max-height: 100%;
}

.love
{
	padding-left: 25rem;
}

/* Footer du site*/
.footer
{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.footertitle
{
	padding-left: 2.5rem;
}

.footerul
{
	list-style-type: none;
}

.knife
{
	padding-right: 1rem;
}

.hands
{
	padding-right: 0.5rem;
}

}