/* version tablette*/

.logo
{
padding: 2rem;
font-size: 2rem;
}

.explorer
{
    width: 40%;
}


.title1
{
    margin: 2rem;
}

.title
{
    margin: 2rem 2rem 2rem 0rem;
}


.resto
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"title title "
		"block1 block2"
		"block3 block4";
    grid-template-rows: none;
    padding: 2rem;
}

.blockarticle
{
    margin: 0rem;
}

.choicelist
{
    width: 100%;
}
/* Footer du site*/

.footertitle
{
    text-align: center;
    font-size: 1.8rem;
}

.footerul
{
    text-align: center;
}